{{extend 'layout.html'}}

<div class="main_content">
    <div class="post-content">
        <h1>Contributors</h1>
        <p>Special thanks to the following pages that let us scrape their pages for data to feed the bot. We couldn't do it without you!</p>
		<br><a href="https://www.facebook.com/babyboyinc420">Baby boy inc.</a>
		<br><a href="https://www.facebook.com/clickb8">Softcore Clickbait</a>
		<br><a href="https://www.facebook.com/CommonMemes">Common Memes</a>
		<br><a href="https://www.facebook.com/dadspot.biz">Dadspot.biz</a>
		<br><a href="https://www.facebook.com/Dru6s">Dru6s</a>
		<br><a href="https://www.facebook.com/feelskid">I Feel It</a>
		<br><a href="https://www.facebook.com/freshmaine">Fresh Maine L O B S T E R S T A N D</a>
		<br><a href="https://www.facebook.com/jimihendrixofcourse">Surface Reality Memes</a>
		<br><a href="https://www.facebook.com/keepitvague">keep it vague</a>
		<br><a href="https://www.facebook.com/nearlyvisible">Nearly visible images</a>
		<br><a href="https://www.facebook.com/netflixecosystem">Ｎｅｔｆｌｉｘ Ｅｃｏｓｙｓｔｅｍ</a>
		<br><a href="https://www.facebook.com/SelectedAmbientMemesV3">Selected Ambient Memes Vol. III</a>
		<br><a href="https://www.facebook.com/SelectedAmbient">Selected Ambient Memes Vol. IV</a>
		<br><a href="https://www.facebook.com/slibsartroncbamber">Slick sardonic banter</a>
		<br><a href="https://www.facebook.com/speshmemefresh">Special meme fresh</a>
		<br><a href="https://www.facebook.com/that.fggt.dog">Doug McDog</a>
		<br><a href="https://www.facebook.com/y666drasil">y666drasil</a>
		<br><a href="https://www.facebook.com/yourmemesgotstolenkiddo">Stolen Memes</a>
		<br><a href="https://www.facebook.com/shitpostbot">ShitpostBot 5000</a>
    </div>
</div>