{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var post_url = "{{=URL('api', 'get_post', args=request.args)}}";
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var generate_post_url = "{{=URL('api', 'generate_post')}}";
    var vote_url = "{{=URL('api', 'vote', args=request.args, user_signature=True)}}"
</script>
{{end}}


<div class="main_content">
    <div id="vue-div" class="display:none">
        <a class="SHITPOSTBUTTON" v-on:click="generate_post();">Generate Sentience</a>
        <div class="posts">
            <div v-for="post, index in posts" class="post-content" :key="post.id">
                <div class="post-upvote-box">
                    <p class="vote-arrow" v-bind:class="{'upvote': post.my_vote==1, 'no-vote': post.my_vote!=1}" v-bind:id="'upvote_'+post.id" v-on:click="vote(post.id, index, 1);">▲</p>
                    <p class="vote-count">${post.upvotes}</p>
                    <p class="vote-arrow" v-bind:class="{'downvoted': post.my_vote==-1, 'no-vote': post.my_vote!=-1}" v-bind:id="'downvote_'+post.id" v-on:click="vote(post.id, index, -1);">▼</p>
                </div>
                <div class="post-contents post-text-box">
                    <p v-on:click="open_lightbox(post.id);" class="post-shitpost">${post.text_post}</p>
                    <p v-on:click="open_lightbox(post.id);" v-bind:title="post.date_tooltip" class="post-datetime">
                        ${post.date_readable}
                    </p>
                    <a v-bind:href="'{{=URL('post')}}/' + post.id" class="post-permalink">
                        (permalink)
                    </a>
                </div>
                <a v-on:click="open_lightbox(post.id);" class="post-contents">
                    <img v-bind:src="'{{=URL('static', 'images', 'gen')}}/' + post.image" class="post_image" />
                </a>
            </div>
            <p v-if="has_more" class="show_more post-contents"> Loading more content... </p>
        </div>

        <div id="lightbox" class="hidden">
            <div id="light-box-overlay" class="hidden" v-on:click="close_lightbox();"></div>

            <div v-if="lightbox_post != null" id="light-box">
                <div class="win95-back">
                    <div class="win95-top">
                        <div class="win95-title">
                            <p><span id="light-box-title">WildWavyShinji</span> - Sentience</p>
                        </div>
                        <div class="win95-exit">
                            <p v-on:click="close_lightbox();">X</p>
                        </div>
                    </div>
                    <div class="win95-menus">
                        <p><u>F</u>ile</p>
                        <p><u>E</u>dit</p>
                        <p><u>V</u>iew</p>
                        <p><u>H</u>elp</p>
                        <p><u>D</u>ream</p>
                    </div>
                    <div class="win95-image">
                        <img v-bind:src="'{{=URL('static', 'images', 'gen')}}/' + lightbox_post.image" class="post_image" />
                    </div>
                    <div class="win95-text">
                        <div class="post-contents post-text-box">
                        </div>


                        <h1>${lightbox_post.text_post}</h1>
                            <p v-bind:title="lightbox_post.date_tooltip">
                                ${lightbox_post.date_readable}
                            </p>
                        <hr />
                        <h3>Comments: </h3>
                         <div class="comments">
                            <div class="result_table">
                                <div v-for="comment, index in lightbox_comments" class="comment-content" :key="comment.id">
                                    <div v-if="editing_comment == comment.id">
                                        <form action="#" v-on:submit.prevent="edit_comment(comment.id, index)" class="form-horizontal" enctype="multipart/form-data" method="post">
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control string" v-model="form_edit_comment_content" type="textarea"/>
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <input class="btn btn-primary edit-post-button" type="submit" value="Post" v-on:click="edit_comment_button(-1)"/>
                                            </div>
                                        </form>
                                        <div class="text-right">
                                            <button class="btn btn-warning btn-sm cancel-edit-btn" v-on:click="edit_comment_button(-1)">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                    <p v-else>${comment.comment_content}</p>
                                    <p>
                                        ${comment.user_name}
                                        <span class="comment-date" v-bind:title="comment.date_tooltip">
                                            ${comment.date_readable}
                                        </span>
                                        <span v-if="comment.is_mine" class="shifted">
                                            <i class="fa fa-pencil" v-on:click="edit_comment_button(comment.id, comment.comment_content)"></i>
                                        </span>
                                        <span v-if="comment.is_mine" class="shifted">
                                            <i class="fa fa-trash-o" v-on:click="delete_comment(comment.id)"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div v-if="is_adding_comment" id="add_new_comment">
                                <div>
                                    <textarea class="form-control string" id="no_table_content" v-model="form_comment_content" placeholder="Content" type="text" ></textarea>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group text-right">
                                    <div>
                                        <input class="btn btn-primary" id="post-button" type="submit" value="Post" v-on:click="add_comment()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="button_bar text-right">
                                <button v-if="!is_adding_comment" class="btn btn-danger btn-sm add-btn" v-on:click="add_comment_button()" v-bind:class="{'disabled': !logged_in}">
                                    Add comment
                                </button>
                                <button v-if="is_adding_comment" class="btn btn-warning btn-sm cancel-btn" v-on:click="add_comment_button()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script src="{{=URL('static', 'js/readable_time.js')}}"></script>
