{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts', user_signature=True)}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var generate_text_url = "{{=URL('api', 'generate_text', user_signature=True)}}";
</script>
{{end}}


<div class="main_content">
    <div id="vue-div" class="display:none">
        <a v-on:click="generate_text();">hi</a>
        <div class="posts">
            <div v-for="post, index in posts" class="post-content" :key="post.id">
                <p class="post-contents">${post.post_content}</p>

                <p class="info-line">
                    ${post.user_name}
                    &emsp;&emsp;${post.created_on}
                    <span v-if="post.updated">
                        &emsp;&emsp;${post.updated_on}
                    </span>
                    <span v-if="post.is_mine" class="shifted">
                        <i class="fa fa-pencil" v-on:click="edit_post_button(post.id, post.post_content)"></i>
                    </span>
                    <span v-if="post.is_mine" class="shifted">
                        <i class="fa fa-trash-o" v-on:click="delete_post(post.id)"></i>
                    </span>
                </p>
            </div>
            <p v-if="has_more" class="show_more post-contents"> Loading more content... </p>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
