{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var post_url = "{{=URL('api', 'view_post', args=request.args)}}";
    var add_comment_url = "{{=URL('api', 'add_comment', args=request.args)}}";
    var edit_comment_url = "{{=URL('api', 'edit_comment', user_signature=True)}}";
    var del_comment_url = "{{=URL('api', 'del_comment', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-comment-div" class="display:none">
        <div class="post-content">
            <div class="post-contents">
                <p>${post.text_post}</p>
                <p v-bind:title="post.date_tooltip" class="post-datetime">
                    ${post.date_readable}
                </p>
            </div>

            <img v-bind:src="'{{=URL('static', 'images', 'gen')}}/' + post.image" class="post_image" />

            <div class="comments">
                <h1>Comments</h1>
                <div class="button_bar">
                    <button v-if="!is_adding_comment" class="btn btn-danger btn-sm" v-on:click="add_comment_button()" v-bind:class="{'disabled': !logged_in}">
                        Add comment
                    </button>
                    <button v-if="is_adding_comment" class="btn btn-warning btn-sm" v-on:click="add_comment_button()">
                        Cancel
                    </button>
                </div>

                <div v-if="is_adding_comment" id="add_new_comment">
                    <div>
                        <textarea class="form-control string" id="no_table_content" v-model="form_comment_content" placeholder="Content" type="text" ></textarea>
                        <span class="help-block"></span>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm post-button" v-on:click="add_comment()">
                            Post
                        </button>
                    </div>
                </div>

                <div class="result_table">
                    <div v-for="comment in comments" class="comment-content" :key="comment.id">
                        <p class="comment">${comment.comment_content}</p>
                        <p class="info-line">${comment.user_name}
                            <span class="comment-date" v-bind:title="comment.date_tooltip">
                                ${comment.date_readable}
                            </span>
                            <span v-if="comment.is_mine" class="shifted">
                                <i class="fa fa-pencil" v-on:click="edit_comment_button(comment.id, comment.comment_content)"></i>
                            </span>
                            <span v-if="comment.is_mine" class="shifted">
                                <i class="fa fa-trash-o" v-on:click="delete_comment(comment.id)"></i>
                            </span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_post.js')}}"></script>
