{% extends "base_generic.html" %}
{% load static %}

{% block content %}

	{% if post_list %}
	    {% for post in post_list %}
	    	<div id="post">
		        	<a href="{% url 'shitposts:detail' post.id %}">{{ post.text_post }}</a>
		        	<a href="{% url 'shitposts:detail' post.id %}">
		        		<img src="{% static 'images/gen' %}/{{post.image}}"/></a>
	    	</div>
	    	<br/>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>S E N T I E N C E  unavailable.</p>
	{% endif %}

{% endblock %}
