/* line 2, ../sass/_main.scss */
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 7, ../sass/_main.scss */
.post_list {
  padding-top: 10px;
}

/* line 11, ../sass/_main.scss */

.SHITPOSTBUTTON {
  margin: auto;
}

.navbar-title{
  padding: 10px;
  padding-top: 25px;
  font-size: 42px;
  font-family: "Share Tech Mono", "Courier";
  letter-spacing: 0px;
}

body {
  background-image: url("../images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

.navbar-tab {
  font-size: 20px;
  letter-spacing: 10px;
  font-family: "Share Tech Mono", "Courier";
  padding-top: 22px;
  padding-right: 16px;
}

.add-btn {
  margin-bottom: 32px;
}

.cancel-btn {
  margin-top: -89px;
  margin-right: -10px;
  height: 38px;
}

#post-button {
  margin-right: 90px;
}

#no_table_edit_post_content {
  margin: 0px 0px 0px;
}

.cancel-edit-btn {
  margin-top: -89px;
  margin-right: 4px;
  height: 38px;
}

.edit-post-button {
  margin-right: 100px;
}

.show_more {
  text-align: center;
  margin: auto;
}

.posts {
  margin-top: -32px;
}

.post-content {
  border-width: 1px;
  padding: 20px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  width: 40%;
  max-width: 800px;
  margin: 20px auto;
}

@media(max-width: 600px) {
  .post-content {
    width: 100%;
  }
}

.post-upvote-box {
  float: left;
  display: inline-block;
  width: 50px;
  text-align: center;
}

.vote-arrow {
  text-align: center;
  width: 50px;
  letter-spacing: 0px;
  font-size: 30px;
}



.vote-arrow:hover {
 cursor: pointer;
}

.no-vote {
  color: darkgray;
}

.upvoted {
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
}

.downvoted {
  color: #ff67f2;
  text-shadow: 1px 1px #4afafc;
}

.vote-arrow>a:hover {
  text-decoration: none;
}

.vote-count {
  font-size: 16px;
  letter-spacing: 3px;
}

.post-text-box {
  float: right;
  display: inline-block;
  width: calc(100% - 60px);
}

.post-contents {
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
  font-family: "Share Tech Mono", "Courier";
  letter-spacing: 16px;
  font-size: 24px;
  font-weight: bold;
  font-kerning: none;
}

.post-shitpost:hover {
  cursor: pointer;
}

.post_image {
  width: 100%;
}

.post_image:hover {
  cursor: pointer;
}

.post-datetime {
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
  font-family: "VT323", "Courier";
  letter-spacing: 6px;
  font-size: 16px;
  margin-top: -10px;
  font-kerning: none;
}

.post-datetime:hover {
 cursor: pointer;
}

.post-permalink {
  display: block;
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
  font-family: "VT323", "Courier";
  letter-spacing: 6px;
  font-size: 12px;
  margin-top: -4px;
  font-kerning: none;
}

.post-permalink:hover {
 cursor: pointer;
}

.info-line {
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
  font-family: "VT323", "Courier";
  letter-spacing: 5px;
  font-size: 12px;
  margin-top: -10px;
  font-kerning: none;
}

.hidden {
  display: none;
}

.shifted {
  margin-left: 20px;
}

/* Comment Page */
.comment {
  color: #4afafc;
  text-shadow: 1px 1px #ff67f2;
  font-family: "Share Tech Mono", "Courier";
  letter-spacing: 8px;
  font-size: 16px;
  font-weight: bold;
  font-kerning: none;
}

.comment-date {
  margin-left: 16px;
}


/* Login page */
.login_title {
  margin-left: 30%;
  letter-spacing: 16px;
  font-family: "Share Tech Mono", "Courier"
}

.login_container {
  margin-left: 30%;
  margin-right: 30%;
}


/* Light box */

.close-light-box {
  position: fixed;
  top: 4px;
  left: calc(100% - 44px);
  font-size: 40px;
}

#light-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(122, 51, 114, 0.75);
  z-index: 100000;
}

.win95-back {
  position: fixed;
  background-color: #999999;
  width: 70%;
  height: 85%;
  left: 15%;
  top: 7.5%;
  box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
}

.win95-top {
  position: fixed;
  background-color: #000077;
  left: calc(15% + 7px);
  top: calc(7.5% + 7px);
  width: calc(70% - 14px);
  height: 30px;
}

.win95-title p {
  margin-left: 10px;
  margin-top: -3px;
  color: #ffffff;
  text-shadow: none;
  letter-spacing: 1px;
  font-size: 25px;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.win95-exit {
  position: fixed;
  left: calc(85% - 37px);
  top: calc(7.5% + 10px);
  height: 24px;
  width: 24px;
  background-color: #999999;
  box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset -2px -2px rgba(0, 0, 0, .4);
  text-align: center;
}

.win95-exit:hover {
  background-color: #CCCCCC;
}

.win95-exit:active {
  background-color: #666666;
  box-shadow: inset 2px 2px rgba(0, 0, 0, .4), inset -2px -2px rgba(255, 255, 255, .4);
  -moz-box-shadow: inset 2px 2px rgba(0, 0, 0, .4), inset -2px -2px rgba(255, 255, 255, .4);
  -webkit-box-shadow: inset 2px 2px rgba(0, 0, 0, .4), inset -2px -2px rgba(255, 255, 255, .4);
}

.win95-exit p {
  margin-top: -3px;
  color: #000000;
  text-shadow: none;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.win95-menus {
  position: fixed;
  top: calc(7.5% + 37px);
  left: calc(15% + 14px);
  height: 24px;
}

.win95-menus p {
  color: #000000;
  text-shadow: none;
  letter-spacing: 1px;
  font-size: 24px;
  display: inline;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.win95-content {
  position: fixed;
  background-color: #ffffff;
  left: calc(15% + 7px);
  top: calc(7.5% + 71px);
  width: calc(70% - 14px);
  height: calc(85% - 78px);
  box-shadow: inset 2px 2px #555555, inset -2px -2px #dddddd;
  -moz-box-shadow: inset 2px 2px #555555, inset -2px -2px #dddddd;
  -webkit-box-shadow: inset 2px 2px #555555, inset -2px -2px #dddddd;
}
