@import "sass/mixins";
@import "sass/myMixins";

body {
	margin: 0;
}

html {
	background: url('./img/background.png') no-repeat center center fixed;
	@include background-size(cover);
}

#root {
	width: 100%;
	height: 100%;
}
